.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #021821;
  padding: 0 16px;
  flex-wrap: wrap;
  position: relative;
  height: 60px;
  z-index: 1000;
}

.topnav a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.topnav a:hover {
  background-color: #93bcc5;
  color: black;
}

.topnav a.active {
  background-color: #319ba9;
  color: white;
}

.nav-left {
  display: flex;
  gap: 1em;
}

.language-switcher {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  padding: 14px 16px;
}

.language-switcher a {
  color: #f2f2f2;
  text-decoration: none;
}

.language-switcher a:hover {
  text-decoration: underline;
}

.icon {
  display: none;
  color: white;
  cursor: pointer;
  font-size: 26px;
}

/* Responsive Rules */
@media screen and (max-width: 600px) {
  .topnav {
    flex-direction: column;
    align-items: stretch;
    height: auto;
    background-color: #021821; /* Keep the background consistent */
  }

  .nav-left,
  .language-switcher {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #021821;
  }

  .topnav.responsive .nav-left,
  .topnav.responsive .language-switcher {
    display: flex;
  }

  .icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 14px 16px;
    color: white;
    cursor: pointer;
  }
}
